<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>whatab-js</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <table>
        <tr>
          <th>M</th>
          <th>0</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        <tr>
          <td><input type="radio" name="string1" value="0" v-on:click="setString1Key" v-model="string1" checked></td>
          <td><input type="radio" name="string1" value="5" v-on:click="setString1Key" v-model="string1"></td>
          <td><input type="radio" name="string1" value="6" v-on:click="setString1Key" v-model="string1"></td>
          <td><input type="radio" name="string1" value="7" v-on:click="setString1Key" v-model="string1"></td>
          <td><input type="radio" name="string1" value="8" v-on:click="setString1Key" v-model="string1"></td>
          <td><input type="radio" name="string1" value="9" v-on:click="setString1Key" v-model="string1"></td>
          <td><input type="radio" name="string1" value="10" v-on:click="setString1Key" v-model="string1"></td>
        </tr>
        <br>
        <tr>
          <td><input type="radio" name="string2" value="0" v-on:click="setString2Key" v-model="string2" checked></td>
          <td><input type="radio" name="string2" value="12" v-on:click="setString2Key" v-model="string2"></td>
          <td><input type="radio" name="string2" value="1" v-on:click="setString2Key" v-model="string2"></td>
          <td><input type="radio" name="string2" value="2" v-on:click="setString2Key" v-model="string2"></td>
          <td><input type="radio" name="string2" value="3" v-on:click="setString2Key" v-model="string2"></td>
          <td><input type="radio" name="string2" value="4" v-on:click="setString2Key" v-model="string2"></td>
          <td><input type="radio" name="string2" value="5" v-on:click="setString2Key" v-model="string2"></td>
        </tr>
        <br>
        <tr>
          <td><input type="radio" name="string3" value="0" v-on:click="setString3Key" v-model="string3" checked></td>
          <td><input type="radio" name="string3" value="8" v-on:click="setString3Key" v-model="string3"></td>
          <td><input type="radio" name="string3" value="9" v-on:click="setString3Key" v-model="string3"></td>
          <td><input type="radio" name="string3" value="10" v-on:click="setString3Key" v-model="string3"></td>
          <td><input type="radio" name="string3" value="11" v-on:click="setString3Key" v-model="string3"></td>
          <td><input type="radio" name="string3" value="12" v-on:click="setString3Key" v-model="string3"></td>
          <td><input type="radio" name="string3" value="1" v-on:click="setString3Key" v-model="string3"></td>
        </tr>
        <br>

        <tr>
          <td><input type="radio" name="string4" value="0" v-on:click="setString4Key" v-model="string4" checked></td>
          <td><input type="radio" name="string4" value="3" v-on:click="setString4Key" v-model="string4"></td>
          <td><input type="radio" name="string4" value="4" v-on:click="setString4Key" v-model="string4"></td>
          <td><input type="radio" name="string4" value="5" v-on:click="setString4Key" v-model="string4"></td>
          <td><input type="radio" name="string4" value="6" v-on:click="setString4Key" v-model="string4"></td>
          <td><input type="radio" name="string4" value="7" v-on:click="setString4Key" v-model="string4"></td>
          <td><input type="radio" name="string4" value="8" v-on:click="setString4Key" v-model="string4"></td>
        </tr>
        <br>

        <tr>
          <td><input type="radio" name="string5" value="0" v-on:click="setString5Key" v-model="string5" checked></td>
          <td><input type="radio" name="string5" value="10" v-on:click="setString5Key" v-model="string5"></td>
          <td><input type="radio" name="string5" value="11" v-on:click="setString5Key" v-model="string5"></td>
          <td><input type="radio" name="string5" value="12" v-on:click="setString5Key" v-model="string5"></td>
          <td><input type="radio" name="string5" value="1" v-on:click="setString5Key" v-model="string5"></td>
          <td><input type="radio" name="string5" value="2" v-on:click="setString5Key" v-model="string5"></td>
          <td><input type="radio" name="string5" value="3" v-on:click="setString5Key" v-model="string5"></td>
        </tr>
        <br>

        <tr>
          <td><input type="radio" name="string6" value="0" v-on:click="setString6Key" v-model="string6" checked></td>
          <td><input type="radio" name="string6" value="5" v-on:click="setString6Key" v-model="string6"></td>
          <td><input type="radio" name="string6" value="6" v-on:click="setString6Key" v-model="string6"></td>
          <td><input type="radio" name="string6" value="7" v-on:click="setString6Key" v-model="string6"></td>
          <td><input type="radio" name="string6" value="8" v-on:click="setString6Key" v-model="string6"></td>
          <td><input type="radio" name="string6" value="9" v-on:click="setString6Key" v-model="string6"></td>
          <td><input type="radio" name="string6" value="10" v-on:click="setString6Key" v-model="string6"></td>
        </tr>
      </table>
      <p>whatab/javascript</p>
      <p class="answer">{{codeMaker()}}</p>
    </div>

    <script src="js/master.js"></script>
  </body>
</html>
